// i reccomend using sandbox key via https://public.sandbox.pro.coinbase.com when developing

const COINBASE_PRO_API_NICKNAME = "";
const COINBASE_PRO_API_PASSPHRASE = "";
const COINBASE_PRO_API_KEY = "";
const COINBASE_PRO_API_SECRET = "";

export {
    COINBASE_PRO_API_NICKNAME,
    COINBASE_PRO_API_PASSPHRASE,
    COINBASE_PRO_API_KEY,
    COINBASE_PRO_API_SECRET
}